/* Set the background image for the landing page */
@font-face {
  font-family: 'Groteski';
  src: url('./assets/fonts/groteski.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daydream';
  src: url('./assets/fonts/Daydream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.landing-page {
  background-image: url('./assets/images/degenape4.webp');
  background-size: cover;
  overflow-x: hidden;
  background-position: center;
  /* box-shadow: 0px 10px 5px rgb(200,200,200); */
}

.landing-page-text {
  font-family: 'Groteski', sans-serif;
}

.buy-text {
  font-family: 'Daydream', sans-serif;
}

.top-left-text {
  position: absolute;
  top: 20px;
  /* Adjust this value to move the text down or up */
  left: 20px;
  /* Adjust this value to move the text left or right */
  color: white;
  font-size: 16px;
}

.white-section h2 {
  font-size: 2rem;
  color: black;
  text-align: center;
}

/* Adjust the effect when the page is scrolled */
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(rgb(242, 196, 32), rgb(248,36,66));
}

.ca-text {
  font-family: 'Daydream', sans-serif;
}

.card-title {
  font-family: 'Daydream', sans-serif;
  font-size: 1rem;
}

.card-text {
  font-family: 'Minecraft', sans-serif;
  font-size: .8rem;
}

.layer1 {
  background-image: url('./assets/images/degenapelayer1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  overflow-x: hidden;
}

.cards-container {
  display: flex;
  gap: 1.25rem; /* Adjust spacing between cards */
  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
  white-space: nowrap;
  width: 100vw;
}
